{% extends 'admin.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}
  <main>
        <h1  class="text-center text-5xl font-semibold text-indigo-500">HOME<h1>

</template>
 </main>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
